.cardSize {
  width: 200px;
  height: 100%; /* Assicurati che le card abbiano altezza completa */
  cursor: pointer;
}

.hovered {
  transform: scale(1.1); /* Ingrandisci la card al passaggio del mouse */
  transition: transform 0.3s ease; /* Animazione di transizione */
}

.dropdown-menu {
  display: block !important;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 5s ease, opacity 0.3s ease;
}

.dropdown-menu.show {
  opacity: 1;
  max-height: 500px;
}

#Item-image-info {
  width: 70%;
  /* height: 100%; */
  /* border-radius: 10px; */
}

@media (max-width: 575px) {
  #Item-image-info {
    width: 100%;
    /* height: 100%; */
    /* border-radius: 10px; */
  }
  .divCart {
    width: 60px;
  }
  .iconeCart {
    font-size: 40px;
  }
}

.divCart {
  width: 150px;
}
.iconeCart {
  cursor: pointer;
}
.bi-minecart {
  font-size: 25px;
  cursor: pointer;
}
.bi-minecart-loaded {
  font-size: 25px;
  cursor: pointer;
}
