.cardSize {
  width: 200px;
  height: 100%; /* Assicurati che le card abbiano altezza completa */
  cursor: pointer;
}

.hovered {
  transform: scale(1.1); /* Ingrandisci la card al passaggio del mouse */
  transition: transform 0.3s ease; /* Animazione di transizione */
}
