.backgroundTm {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    344deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
.backgroundTm {
  height: 150px;
}

.Link-Navbar {
  text-decoration: none;
  color: white;
}

.dropdown-toggle::after {
  display: none;
}
.profile-icon {
  color: white;
  font-size: 30px;
}

.dropdown-menu[data-bs-popper] {
  top: calc(90%);
  margin-top: 0;
  left: -125px;
}

#offcanvasNavbarLabel .logo-dropdown {
  width: 100px;
  height: 50px;
}

/* @media only screen and (min-width: 450px) {
  .logo-dropdown {
    display: none;
  }
} */

.logo-hidden {
  display: none;
}
